<div class="card">
  <div class="card-header">
   New Person!
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="save()"
          [formGroup]="personForm">

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="name">Name</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="name"
                 name="name"
                 type="text"
                 placeholder="Name (required)"
                 formControlName="name"/>
         </div>
        </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
               for="salaryId">Salary</label>
        <div class="col-md-8">
          <input class="form-control"
                 id="salaryId"
                 type="number"
                 placeholder="Salary (required)"
                 name="salary"
                 formControlName="salary"
                />
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="col-md-8">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input"
                     id="championId"
                     type="checkbox"
                     formControlName="champ"
                     name="champion"
                     (click)="setSalary(true)"> champion
            </label>
          </div>
        </div>
      </div>

      <textarea formControlName="textarea"></textarea>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  type="submit"
                  style="width:80px"
                  [title]="personForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!personForm.valid">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<br>Dirty: {{ personForm.dirty }}
<br>Touched: {{ personForm.touched }}
<br>Valid: {{ personForm.valid }}
<br>Value: {{ personForm.value | json }}
